@using Frontend.Features.Layout
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <HxAlert Color="ThemeColor.Danger">
                <h4 class="alert-heading">Not Found</h4>
                <HxIcon Icon="@BootstrapIcon.ExclamationTriangleFill" /> Sorry, there's nothing at this address.
            </HxAlert>
        </LayoutView>
    </NotFound>
</Router>
